$mainAccent: rgb(52, 245, 78);

.content-card {
  background-color: rgba(255, 255, 255, 0.13);
  border: solid $mainAccent;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

.side-border {
  border-width: 0px 3px;
}

.top-border {
  border-width: 3px 0px;
}


:root {
  --success: #1DA040;
  --cyber-blue: rgb(38, 201, 221);
  --primary-blue: #0D6EFD;
}