# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/model-db-api/node_modules/
/model-db-client/node_modules//.pnp
.pnp.js

# testing
/coverage

# production
/build
/model-db-api/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/model-db-client/src/components/modelCard.css
/src/components/modelCard.css.map
/model-db-client/src/config/model-db-821c6-firebase-adminsdk-ngizn-bd7e614c25.json
/.idea/
model-db-api/coverage/
/model-db-api/src/config/config.ts
